{% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wine Finder</title>
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/handlebars.min.js' %}"></script>
	<script src="{% static 'js/handlebars.numberFormat.js' %}"></script>
	<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
	<script src="{% static 'js/jquery.modal.min.js' %}"></script>
	<script src="{% static 'js/jquery.circle-progress.min.js' %}"></script>
	<script src="{% static 'js/jquery.winefinder.js' %}"></script>
</head>